<navbar 
bloctitle="'Bonjour '+currentUser.lastname" 
subtitle="'Lorem ipsum dolor sit amet ut primum caetere doloris !'">
</navbar>

<nav class="tab">
  <span class="tab-link"
  ng-class="{'active': main.activeTab == 'all'}"
  ng-click="main.showAll()">Tous</span>
  <span
  class="tab-link"
  ng-class="{'active': main.activeTab == 'user'}"
  ng-click="main.showUser()">Mes évènements</span>
  <span class="tab-link"
  ng-class="{'active': main.activeTab == 'done'}"
  ng-click="main.showDone()">Terminé</span>
</nav>


<section class="eventlist">
  <div class="row"> 
    <p class="eventlist-count" ng-if="currentEvent.length > 0">{{currentEvent.length}} évènements</p> 
    <p class="eventlist-count" ng-if="main.activeTab != 'participation' && currentEvent.length == 0">Pas d'évènement</p>  
    <div 
    ng-if="main.activeTab != 'participation'"
    ng-repeat="event in currentEvent=(main.events | filter:main.filter | orderBy: '-updatedAt')"
    class="col-md-4">
      <a ng-href="/evenement/{{event.id}}" class="eventlist-content" ng-class="{closed: event.closed}">
        <span class="eventlist-imgwrapper">
          <img src="/assets/images/photo.jpg" alt="" class="eventlist-img">
          <p class="eventlist-slot" ng-if="!event.closed">Voir détail</p>
          <p class="eventlist-slot" ng-if="event.closed">Evènement cloturé</p>

        </span>
        <ul class="eventlist-info list-inline">
          <li class="eventlist-place">
            <i class="icon-marker eventlist-place-icon"></i>
            {{event.place}}
          </li>
        </ul>
        <span class="eventlist-text">
          <p class="eventlist-title">{{event.title}}</p>
          <p class="eventlist-author">Crée par {{event.owner.name}} {{event.owner.lastname}}</p>
          <p class="eventlist-description">{{event.description}}</p>
        </span>
      </a>
      <div class="eventlist-control" ng-if="event.owner.id == currentUser.id && !event.closed">
        <a class="eventlist-edit" ng-href="/evenement/modifier/{{event.id}}" class="btn btn-primary">Modifier</a>
        <a class="eventlist-close" ng-href="/evenement/cloturer/{{event.id}}" class="btn btn-primary">Clôturer</a>
      </div>
    </div>
</div>
</section>