.btn{
	text-transform: uppercase;
	font-family: 'Karla';
	font-weight: 700;
	letter-spacing: 0.12em;
	transition: all .2s ease;
	&:focus{
		outline:none;
	}
	&-primary{
		border-radius: 0;
		border: 0;  
		font-size: 1em;   
		padding: 12px 25px;
		background-color: $pink;
		&:hover, &:focus{
			background-color: darken($pink, 6%);
		}
	}
	&-line{
		font-size: 1em;   
		padding: 7px 20px;
		border-radius: 30px;
		border: 1px solid black;
	}
	&-plus{
		border: 1px solid $pink;
		display: block;
		width: 30px;
		height:30px;
		line-height: 26px;
		border-radius: 30px;
		padding: 0;
		margin: 0;
		transform: scale(1);
		i{
			color:$pink;
			font-size: 14px;
			width: 14px;
			display: inline-block;
			vertical-align: middle;
		}
		&:hover,&:focus{
			outline:none!important;
			transform: scale(1.1);
		}
	}
}