.tab{
	text-align: center;
	width: 100%;
	position: relative;
	z-index:8;
	margin-top: -30px;
	margin-bottom: 30px;
    @media (max-width: 500px) {
            margin-top: -27px;
    }
	&-link{
		padding: 5px 25px;
		text-transform: uppercase;
		font-family: 'gt';
		color: #b7b7b7;
		letter-spacing: 0.1em;
    	font-size: 0.8em;
    	position: relative;
    	transition: all .3s ease;
    	&:after{
    		content:"";
    		position: absolute;
    		width: 80%;
    		height:2px;
    		background-color: $pink;
    		bottom: -6px;
    		left:0;
    		right:0;
    		margin: auto;
    		opacity: 0;
    		transition: all .3s ease;
    	}
        @media (max-width: 500px) {
            padding: 5px 7px;
            font-size: 0.75em;
        }
    	&.active, &:hover{
    		color:white;
    	}
    	&.active:after{
    		opacity: 1;
    	}
    	&:focus{
    		outline: none;
    	}
	}
}